body{

margin: 25px;
}

div {
  
  padding: 25px;
  margin: 25px;
}

a{
	border: 5px blue;
	
}



.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

    .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .navbar a:hover {
        background-color: red;
    }
.navbar a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }


footer {

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}